body {
  background: #000;
  color: #fff;
  font-family: Arial;
  text-align: center;
}

input {
  padding: 10px;
  width: 250px;
}

button {
  padding: 10px;
  cursor: pointer;
}

.card {
  background: #111;
  border: 1px solid #333;
  margin: 15px auto;
  padding: 15px;
  width: 80%;
}

img {
  max-width: 100%;
}
